@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'roboto';
    color: white;
    background-color: #000000;
    margin: 0;
}

#head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 70px 15px 70px;
    color: #f5f5f5;
    font-size: 24px;
    margin: 0;
}

#head #logoHead {
    width: 125px;
    height: 50px;
}

#headerDerecho {
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

.headerLink {
    color: #C69749;
    text-decoration: none;
    font-size: 20px;
}

.headerLink:hover {
    color: #735F32;
}

.headerLink:active {
    color: #282A3A;
}

#cuerpo {
    padding: 20px 70px 20px 70px;
}

#formularioSuscripcion {
    display: flex;
    justify-content: center;
}

#suscribirseNewslatter {
    display: flex;
    padding: 30px 30px 30px 30px;
    background-color: #282A3A;
    width: fit-content;
    gap:30px;
    align-items: center;
    font-size: 20px;
    border-radius: 5px;
}

#botonSuscribirse {
    width: 180px;
    height: 30px;
    color: white;
    font-weight: bold;
    background-color: #735F32;
    border: none;
    border-radius: 5px;
}

#botonSuscribirse:hover {
    background-color: white;
    color: #735F32;
}

#suscribirseNewslatter input {
    width: 290px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
}

input:invalid {
    border: 2px solid #b71f1f;
}

#footer {
    display: flex;
    padding: 20px 70px 20px 70px;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.iconosRedesSociales {
    width: 20px;
}

.footerLink {
    display: flex;
    gap: 10px;
    color: #C69749;
    text-decoration: none;
    font-size: 16px;
}

#footer #logoHead {
    width: 125px;
    height: 50px;
}

#footer #footerCentro {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#footer #footerDerecha {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input:invalid {
    border-color: #b71f1f;
}

@media (max-width: 700px) {
    #suscribirseNewslatter {
        flex-direction: column;
    }
}